<% content_for(:title, "Lesson") %>

<h1>Lesson2: <%= @lesson.title %> </h1>
<h1><%= @lesson.content %> </h1>
<hr>
<%= link_to "Chapters", chapters_path %> |
<%= link_to "Delete Lesson", section_lesson_path(@lesson),:data => {:confirm => "Are you sure?",:method => "delete"} %>
